In [8]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\kiit\anaconda3\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [ ]:
producer = KafkaProducer(bootstrap_servers=['65.2.30.33:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [ ]:
#here we are sending data from ec2 machine from producer and it will be consumed and show in consumer
producer.send('demo_test', value="{'hello':'world'}")

In [17]:
df = pd.read_csv("indexProcessed.csv")

In [18]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [20]:
df.sample() #gives a random sample
#now we will convert sample to json/dictonary format

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
35788,000001.SS,2000-03-24,1761.44397,1770.262939,1729.483032,1730.499023,1730.499023,0.0,276.879844

In [23]:
df.sample(1).to_dict(orient="records")[0]

{'Index': 'N100',
 'Date': '2001-02-02',
 'Open': 986.619995,
 'High': 986.619995,
 'Low': 986.619995,
 'Close': 986.619995,
 'Adj Close': 986.619995,
 'Volume': 0.0,
 'CloseUSD': 1203.6763939}

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)
#now we will get data in real time

In [ ]:
#clear data from kafka server
producer.flush()